---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import PathPanel from '../components/PathPanel.astro';
import AdvisorySystem from '../components/AdvisorySystem.astro';
import Connected from '../components/Connected.astro';
import WhySchlager from '../components/WhySchlager.astro';
import Process from '../components/Process.astro';
import MeetMichael from '../components/MeetMichael.astro';
import Industries from '../components/Industries.astro';
import GrowthStories from '../components/GrowthStories.astro';
import Insights from '../components/Insights.astro';
import Newsletter from '../components/Newsletter.astro';
import Areas from '../components/Areas.astro';
import FinalCta from '../components/FinalCta.astro';
import ContactForm from '../components/ContactForm.astro';
import Footer from '../components/Footer.astro';
---

<BaseLayout>
  <Header />
  <a id="top"></a>
  <main>
    <Hero />
    <PathPanel />
    <AdvisorySystem />
    <Connected />
    <WhySchlager />
    <Process />
    <MeetMichael />
    <Industries />
    <GrowthStories />
    <Insights />
    <Newsletter />
    <Areas />
    <FinalCta />
    <ContactForm />
  </main>
  <Footer />
</BaseLayout>
